.root {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  transition: all 0.2s ease-out;
  max-width: 700px;
  margin: auto;
  padding-top: 40px;
  padding-bottom: 40px;
}

.imageContainer:hover {
  transform: translateY(-5px);
}

.imageContainer {
  width: 100%;
  background: #c4c4c4;
  height: 400px;
  position: relative;
  overflow: hidden;
  border-radius: 8px;
  transition: all 0.2s ease-out;
}

.imageContainer img {
  object-fit: cover;
}

.title {
  margin-bottom: 16px;
  font-size: 36px;
  font-weight: 700;
  line-height: 40px;
  text-align: left;
  color: #000000;
}

.description {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  color: var(--black);
  text-align: justify;
  line-height: 32px;
}

.tags {
  display: flex;
  align-items: center;
  gap: 8px;
  margin: 10px 0;
  width: 100%;
  height: 48px;
  flex-wrap: wrap;
  overflow: auto;
  color: var(--gray);
}

.tags div {
  margin: 0 4px 4px 0;
}

.moreData {
  display: flex;
  flex-direction: column;
  padding: 8px 0;
}

.user {
  display: flex;
  align-items: center;
  margin-bottom: 4px;
  gap: 16px;
  color: var(--gray);
}

.user img {
  width: 36px;
  height: 36px;
  border-radius: 500px;
  background: #c4c4c4;
}

.userData {
  margin-left: 8px;
}

.userName {
  font-size: 16px;
  font-weight: 500;
  line-height: 14px;
  letter-spacing: 0em;
  text-align: left;
  margin-bottom: 4px;
  color: var(--black);
  display: flex;
}

.date {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 12px;
  color: #9d9d9d;
  margin: 10px 0;
}

.likes {
  display: flex;
  align-items: center;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 14px;
  color: var(--gray);
}

.likeIcon {
  margin-left: 5px;
}

.spacer {
  width: 100%;
  height: 1px;
  background: var(--gray);
  margin: 10px 0;
}

@media (min-width: 768px) {
  .moreData {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}
