.root {
  display: flex;
  padding: 12px 16px;
  align-items: center;
  border-radius: 8px;
  border: 1px solid var(--lightgray);
  background: var(--inputbackground);
  font-size: 14px;
  width: 100%;
}

.root:hover {
  background: white;
}

.root:focus {
  border: 1px solid var(--gray);
}
